/dist/
/target/
**/target/
*.wasm
.DS_Store
*.local
.env
/maps/*.bsp
/maps/*.pk3
core/pkg/
web/pkg/
node_modules/
**/node_modules/
**/.vite/
server/*.db
server/*.db-journal
server/*.db-wal
server/*.db-shm
server/.pk3-cache/

*.zip
